{
    "email settings":{
        "server":"smtp.example.com",
        "sender_address":"qumulo@example.com"
    },
    "qcluster":{
        "name":"Qumulo",
        "url":"qumulo.example.com"
		"user":"admin",
		"password":"SECRIT"
    },
    "quotas":{
        "engineering":{
            "warn_percent":80,
            "mail_to":[ "admins@example.com", "engmanager@example.com" ]
        },
        "hr":{
			"warn_percent":90,
            "mail_to":[ "admins@example.com", "hrmanager@example.com" ]
        },
        "development":{
            "warn_percent":70,
            "mail_to":[ "admins@example.com", "devmanager@example.com" ]
        }
    },
    "output_log":{
        "logfile":"./qumulo_usage.csv"
    }
}
